<div class="container">
    <h3> <i> GE Maintenance Logger Industrial Engine Report Summary (Report 1) </i></h3>
</div>
<br><br>
<div class="container">
  <div class="row">
      <div class="col-lg">
        <i> Maintenance Logger Serial Number:</i> <b> {{ mntSerialNumber }} </b>
      </div>
      <div class="col-sm">
        <i> Customer site:</i> <b> {{ cstSite }} </b>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <i> Data Start Date:</i> <b> {{ startDate }} </b>
      </div>
      <div class="col-sm">
        <i> High load shutdowns:</i> <b> {{ shudtdowns }} </b>
      </div>
    </div>
    <div class="row">
        <div class="col-lg">
          <i> Data End Date:</i> <b> {{ endDate }} </b>
        </div>
        <div class="col-sm">
          <i> Engine Cycles:</i> <b>{{ engineCycles }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <i> Hours Monitored:</i> <b> {{ hoursMonitored }} </b>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <i> Hours operated:</i> <b> {{ hoursOperated }} </b>
        </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <i> Hours at High Load:</i> <b> {{ hoursHighLoad }} </b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <i> Data Gap Hours: </i><b> {{ gapHours }} </b>
        </div>
        <div class="col-sm">
            <i>Total Engine Aggresiveness:</i> <b>{{ aggresiveness }}</b>
        </div>
    </div>
</div>
<div class="container">
    <br>
    <br>
    <h4>Peak Rotor Speeds</h4>
    <div>
        <br>
        NGG Peak: {{ nggPeakList }}
        <br>
        NPT Peak: {{ nptPeakList }}
    </div>
</div>
<br><br><br>
<div class="container">
    <table style="border: 1px solid black">
        <tr style="border: 1px solid black">
            <th style="border: 1px solid black"></th>
            <th style="border: 1px solid black"></th>
            <th style="border: 1px solid black">S/N</th>
            <th style="border: 1px solid black">Data Start Date</th>
            <th style="border: 1px solid black">Data End Date</th>
            <th style="border: 1px solid black">Monitored Hours</th>
            <th style="border: 1px solid black">Operated Hours</th>
            <th style="border: 1px solid black">High Load Hours</th>
            <th style="border: 1px solid black">Cycles Recorded</th>
            <th style="border: 1px solid black">Full Cycles</th>
            <th style="border: 1px solid black">Hihg Load Stops</th>
        </tr>
        <tr style="border: 1px solid black">
            <td style="border: 1px solid black">Maintenance Logger</td>
            <td style="border: 1px solid black">Total</td>
            <td style="border: 1px solid black">4D0FAE</td>
            <td style="border: 1px solid black">2017-08-30</td>
            <td style="border: 1px solid black">2017-08-30</td>
            <td style="border: 1px solid black">17:92</td>
            <td style="border: 1px solid black">1.23 (6.88%)</td>
            <td style="border: 1px solid black">1.03 (83.78%)</td>
            <td style="border: 1px solid black">1</td>
            <td style="border: 1px solid black">1 (100.00%)</td>
            <td style="border: 1px solid black">0 (0.00%)</td>
        </tr>
    </table>
</div>
{{ Report1Table }}