<div class="container">
    <h3> <i> Maintenance Action Table </i></h3>
</div>

<div class="container">
    <table style="border: 1px solid black; width: 100%">
        <tr style="border: 1px solid black">
            <th style="border: 1px solid black">Recording CPU S/N</th>
            <th style="border: 1px solid black">DATE (UTC)</th>
            <th style="border: 1px solid black">Maintenance Action</th>
            <th style="border: 1px solid black">Quantity</th>
            <th style="border: 1px solid black">Identification</th>
        </tr>
        <tr style="border: 1px solid black">
            <td style="border: 1px solid black">nan</td>
            <td style="border: 1px solid black">nan</td>
            <td style="border: 1px solid black">nan</td>
            <td style="border: 1px solid black">nan</td>
            <td style="border: 1px solid black">nan</td>
        </tr>
    </table>
</div>
{{ Report1Table2 }}

    